{% extends "base.html" %}

{% block head_title %}Register{% endblock %}

{% block content %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<h1>Register new user</h1>
<form method="POST" action="{% url 'register_user' %}"> {% csrf_token %}
    {{ form.as_p }}
<br/><br/>
    <button type="submit">Submit</button>
</form>
{% endblock %}  